@{
    ViewData["Title"] = "Home Page";
}


@model List<Mission08_Team0111.Models.Task>

<div class="quadrant-parent">
    <h1>Stephen Covey&apos;s Time Management Matrix</h1>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <p>Urgent</p>
            </div>
            <div class="col">
                <p>Not Urgent</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p class="rotated-text">Important</p>
            </div>
            <div class="col">
                <h2>Quadrant 1</h2>
				<ul>
					@foreach (var x in Model)
					{
						if (x.Quadrant == 1)
						{
                            <li>x.TaskName</li>
						}
					}
                </ul>
            </div>
            <div class="col">
                <h2>Quadrant 2</h2>
                <ul>
                    @foreach (var x in Model)
                    {
                        if (x.Quadrant == 2)
                        {
                            <li>x.TaskName</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p class="rotated-text">Not Important</p>
            </div>
            <div class="col">
                <h2>Quadrant 3</h2>
                <ul>
                    @foreach (var x in Model)
                    {
                        if (x.Quadrant == 3)
                        {
                            <li>x.TaskName</li>
                        }
                    }
                </ul>
            </div>
            <div class="col">
                <h2>Quadrant 4</h2>
                <ul>
                    @foreach (var x in Model)
                    {
                        if (x.Quadrant == 4)
                        {
                            <li>x.TaskName</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary mt-3" asp-controller="Home" asp-action="CreateTask">Create Task</button>
