@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        margin: 8vw;
    }

    .quadrant-parent {
        background-color: #e6d590;
        border: 2px solid black;
        border-radius: 10px;
    }

        .quadrant-parent h1 {
            border-bottom: 2px solid black;
            margin: 0;
            padding: 1rem 0;
            text-align: center;
        }

        .quadrant-parent .row div {
            border: 1px solid black;
            text-align: center;
        }

    .rotated-text {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(-180deg);
        padding-bottom: 1rem;
    }

    .quadrant-parent .row:last-of-type div:first-of-type {
        border-bottom-left-radius: 10px;
    }

    .quadrant-parent .row:last-of-type div:first-of-type {
        border-bottom-right-radius: 10px;
    }
</style>

<div class="quadrant-parent">
    <h1>Stephen Covey&apos;s Time Management Matrix</h1>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <p>Urgent</p>
            </div>
            <div class="col">
                <p>Not Urgent</p>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p class="rotated-text">Important</p>
            </div>
            <div class="col">
                <h2>Quandrant 1</h2>
            </div>
            <div class="col">
                <h2>Quandrant 2</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <p class="rotated-text">Not Important</p>
            </div>
            <div class="col">
                <h2>Quandrant 3</h2>
            </div>
            <div class="col">
                <h2>Quandrant 4</h2>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary mt-3"
        asp-controller="Home"
        asp-action="AddTask">
    Add Task
</button>
